/* Tùy chỉnh font chữ */
h1,
h2,
h3,
h4,
.font-serif {
  font-family: "EB Garamond", serif;
}
/* Đảm bảo video nền bao phủ toàn bộ */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}
.hero-overlay {
  background-color: rgba(5, 14, 19, 0.5);
}
.section-divider {
  border-color: #374151; /* gray-700 */
}
.card-bg {
  background-color: #111827; /* gray-900 */
}
.link-style {
  color: #3b82f6; /* blue-500 */
  text-decoration: underline;
}

#fading-video {
  opacity: 0;
  transition: opacity 0.5s linear; /* Điều chỉnh 0.5s để thay đổi tốc độ fade */
}

.icon-style {
  height: 64px;
  width: 64px;
  stroke: #9ca3af;
  stroke-width: 0.5;
  fill: none;
  transition: stroke 0.3s ease;
}

.icon-wrapper {
  transition: transform 0.3s ease;
}
.icon-wrapper:hover {
  transform: translateY(-5px);
}
.icon-wrapper:hover .icon-style {
  stroke: #fff;
}
body {
  font-family: "Inter", sans-serif;
}

#main-nav.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #050e13;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}